<div class="main">
  <header class="header">
    <div class="title">
      <div class="main-title">
        <h1>Event Hunt</h1>
      </div>
      <div class="sub-title">
        <h2>The best new events, every day</h2>
      </div>
    </div>
  </header>
  <div class="content">
    <div class="category-list" style="text-align:center;margin-bottom:30px;">
      <h3>カテゴリ一覧</h3>
      <a href="https://event-hunt-app.herokuapp.com/?category=swift">swift</a>
      <a href="https://event-hunt-app.herokuapp.com/?category=スタートアップ">スタートアップ</a>
      <a href="https://event-hunt-app.herokuapp.com/?category=webサービス">webサービス</a>
      <a href="https://event-hunt-app.herokuapp.com/?category=起業">起業</a>
      <a href="https://event-hunt-app.herokuapp.com/?category=アイデア">アイデア</a>
      <a href="https://event-hunt-app.herokuapp.com/?category=Meetup">Meetup</a>
      <a href="https://event-hunt-app.herokuapp.com/?category=もくもく会">もくもく会</a>
      <a href="https://event-hunt-app.herokuapp.com/?category=デザイン">デザイン</a>
      <a href="https://event-hunt-app.herokuapp.com/?category=rails">rails</a>
    </div>

    <div class="content-title">
      <h2>This Week (<%= @today %>〜<%= @lastDay %>)</h2>
    </div>
    <div class="content-events">
      <% @events.each do |event| %>
        <div class="event">
          <!-- <a target="blank" href="<%= event['event_url'] %>">
            <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/20/27/2027e7f76125028ec77713fa12c96e95.png">
          </a> -->
          <div class="event-title">
            <a target="blank" href="<%= event['event_url'] %>">
              <h3 style="font-size:14px;"><%= event['title'] %></h3>
            </a>
          </div>
          <div class="event-category">
            <%= "#{event['accepted']}/#{event['limit']}" %>
          </div>
          <div class="event-date" style="font-size:16px;margin:5px 0 5px 0;"><%= event['started_at'] %></div>
          <a target="blank" href="https://maps.google.co.jp/maps?q=<%= event['address'] %>">
            <span class="event-address" style="font-size:12px;"><%= event['address'] %></span>
          </a>
          <span style="margin-left:5px;"><%= event['eventType'] %></span>
        </div>
      <% end %>
    </div>
  </div>
</div>
